body {
    background-color: black;
}

.NameLogo {
    display:block;
    max-width: 100%;
    height: auto;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 140%;
}

/* Fade In Image Effect*/

.fadeimage {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  
/* Version A of About Me scrapped, code kept for reference

#AboutMe {
    font-family: 'Playfair Display', serif;
}

.AboutMeText {
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 5%;
    padding: 0 10% 0 10%;
}

.AboutMeSection {
    background-color: white;
    color: black;
    overflow-wrap: break-word;
    padding-bottom: 7%;
    padding-top: 7%;
}

*/

/* About Me Section */

.cardsize {
    margin: 10%;
    clear: both;
}

.card-title {
    font-family: 'Playfair Display', serif;
}

.card-body {
    text-align: center;
    margin: 20% 0 20% 0;
    font-family: 'Red Hat Display', sans-serif;
    padding: 0 10% 0 10%;
}

.card-img {
    float: right;
    height: auto;
    display: block;
    overflow-wrap: break-word;
    max-width: 100%
}

/* Portfolio Carousel Testing */

#portfolioheading {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 300%;
    padding: 1% 0 1% 0;
}

.portfoliocaption {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 150%;
    padding: 1% 0 5% 0;
}

.carousel-inner:active {
    color: white;
}

.carousel-control-prev {
    list-style-type: none;
    color: white;
}

/* UX Design Section */

#uxdesign {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 300%;
    padding: 5% 0 5% 0;
}

/* Contact Section */

#contact {
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    color: white;
}

#ContactTouch {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 150%;
    color:white;
    padding: 4% 0 4% 0;
}

.contactimage {
    float:right;
    max-width: 100%;
    height: auto;
    display: block;
}


#ContactIcons {
    text-align: center;
    padding-left: 15%;
    display: inline-flex;
    width: 32%;
    height: auto;
}


.grow img{
    transition: all .2s ease-in-out; 
    width: 40%;
}
    
.grow img:hover{
    transform: scale(1.3); 
    opacity: 0.7;
}

a {
    color: white;
    text-decoration: underline;
  }
a:hover {
    color: rgb(0, 0, 0);
  }
  

/* Contact Form Styling Archive

#contact {
    font-family: 'Playfair Display', serif;
}

#ContactTouch {
    font-family: 'Red Hat Display', sans-serif;
}

.contactimage {
    float:right;
    max-width: 100%;
    height: auto;
    display: block;
}


.ContactText {
    padding-top: 5%;
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    margin: 0 25% 0 25%;
}

.contactform {
    padding: 10% 0 10% 0;
    margin: 0 5% 0 5%;
    background-color: white;
    color: black;
}

.button {
    background-color: black;
    color: white;
}

*/


footer {
    padding: 10% 0 10% 0;
}